<h1>Sam Bam</h1>

<p>Hey. My name is Sam Bam. I am impressed how much more enthusastic this class is afer the lunch break. </p>


<p> My favourite things: </p>

<ol>
  <li>Good Food</li>
  <li>Josh Kearns</li>
  <li>Homework</li>
  <li>Coding</li>

</ol>