<h1 class="home_header">Are you looking for a <strong>male</strong> order groom?</h1>
<body>
<img class="displayed" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAfzAAAAJGIxZGNkMjI0LWI2ODctNDgzYi05ZmJiLWM5N2U2YmQ5NGI2Mg.jpg" alt="Sexy Bastard">
<p>
Press the button below to see if you should marry Sam Bam!
</p>
<!-- <a href="/marry_me" class="button">Should you marry Sam Bam?!?!</a> -->
<a href="/marry_me" class="button">Should you marry Sam Bam??</a>
</body>
