<!DOCTYPE html>
<html>
<head>
  <title>Sexy Sam</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <a href="/about_us">About Us</a>
    <a href="/">Home</a>
  </header>
  <%= yield %>

  <footer>
    <a href="/about_us">About Us</a>
    <a href="/">Home</a>
  </footer>
</body>
</html>